.contato-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.titulo-pagina {
  font-size: 24px;
  /* color: #fff; */
}

.info-geral {
  border: 1px solid #333;
  padding: 25px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item-contato {
  font-size: 18px;
}

.item-contato a {
  text-decoration: none;
}

.item-contato a:hover {
  text-decoration: underline !important;
  text-decoration-color: #6001dc !important;
}

.label { color: #6001dc; margin-right: 10px; font-weight: bold; }
.valor { color: #ccc; }

.redes-lista {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-rede {

  border: 2px solid #333;
  border-radius: 12px;
  padding: 20px;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.card-rede:hover {
  border-color: #6001dc;
  transform: translateX(10px);
  background-color: #222;
}

.redes-lista span {
  display: flex;
  align-items: center;
  gap: 10px;
}