.resume-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: white;
}

.titulo-pagina { font-size: 28px; border-bottom: 2px solid #333; padding-bottom: 10px; color: #1a1a1a; }

h3 { color: #6001dc; margin-bottom: 20px; display: flex; align-items: center; gap: 10px; }

/* html.dark .resume-card {
  background-color: #1a1a1a;
  border: 1px solid #333;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 15px;
  transition: 0.3s;
}

html.dark .resume-card:hover {
  border-color: #6001dc;
  background-color: #222;
} */

.card-header { display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px; }
.card-header h4 { margin: 0; color: #fff; }
.card-header span { color: #FFF; font-size: 14px; }

.desc-exp { color: #888; font-size: 15px; line-height: 1.6; }

.tags-container { display: flex; flex-wrap: wrap; gap: 10px; }

/* .skill-tag {
  color: inherit;
  text-decoration: none;
  background: #333;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 14px;
  border: 1px solid transparent;
  transition: 0.3s;
}

.skill-tag:hover {
  border-color: #6001dc;
  color: #6001dc;
  background: #1a1a1a;
} */