@import "@fortawesome/fontawesome-free/css/all.min.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

html.dark {
  background-color: #121212;
  color: #f0f0f0;
}

/* ----- GLOBAL ----- */

html.light {
  background-color: #f0f0f0;
  color: #121212;
}

/* ----- HOME PAGE ----- */

html.dark .card-botao {
  background-color: #1a1a1a;
  border: 2px solid #333;
}

html.dark .card-botao:hover {
  background-color: #ffffff20;
}

html.light .card-botao {
  background-color: #9184ad;
  border: 2px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}

html.light .card-botao:hover {
  background-color: #b294f0;
}

/* ----- CONTACT PAGE ----- */

html.dark .info-geral {
  background-color: #1a1a1a;
  border: 1px solid #333;
}

html.light .info-geral {
  background-color: #9184ad;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}

html.dark .card-rede {
  background-color: #1a1a1a;
  border: 2px solid #333;
}

html.light .card-rede {
  background-color: #9184ad;
  border: 2px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}

* {
  box-sizing: border-box;
}

html.dark .return_link {
  background-color: #ffffff12;
  border: 1px solid #ffffff4b;
  color: #ffffff;
}

html.dark .return_link:hover {
  background-color: #ffffff22;
  border-color: #6001dc;
}

html.light .return_link {
  background-color: #41414112;
  border: 1px solid #0101014b;
  color:#000000;
}

html.light .return_link:hover {
  background-color: #00000022;
  border-color: #6001dc;
}

/* ----- EXPERIENCE PAGE ----- */

html.dark .titulo-pagina {
  color: #ffffff;
}

html.light .titulo-pagina {
  color: #1a1a1a;
}

.return_link {
  /* color: #fff; */
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  padding: 12px 12px;
  border-radius: 100%;
  /* border: 1px solid #ffffff4b; */
  background-color: #ffffff12;
  transition: all 0.3s;
}

.return_link:hover {
  background-color: #ffffff22;
  border-color: #6001dc;
}

html.dark .resume-card {
  background-color: #1a1a1a;
  border: 1px solid #333;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 15px;
  transition: 0.3s;
}

html.dark .resume-card:hover {
  border-color: #6001dc;
  background-color: #222;
}

html.light .resume-card {
  background-color: #9184ad;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 15px;
  transition: 0.3s;
}

html.light .resume-card:hover {
  border-color: #6001dc;
  background-color: #222;
}

html.dark .skill-tag {
  color: inherit;
  text-decoration: none;
  background: #333;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 14px;
  border: 1px solid transparent;
  transition: 0.3s;
}

html.dark .skill-tag:hover {
  border-color: #6001dc;
  color: #6001dc;
  background: #1a1a1a;
}

html.light .skill-tag {
  color: inherit;
  text-decoration: none;
  background: #9184ad;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 14px;
  border: 1px solid transparent;
  transition: 0.3s;
}

html.light .skill-tag:hover {
  border-color: #956cca;
  color: #956cca;
  background: #1a1a1a;
}

html.dark .desc-exp {
  color: #888; 
  font-size: 15px; 
  line-height: 1.6;
}

html.light .desc-exp {
  color: #d3d3d3; 
  font-size: 15px; 
  line-height: 1.6;
}

html.dark .card {
  background-color: #1a1a1a;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

html.dark .card:hover {
  border-color: #6001dc;
  background-color: #222;
}

html.light .card {
  background-color: #956cca;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

html.light .card:hover {
  border-color: #6001dc;
  background-color: #222;
}

html.dark .desc-box { color: #888; font-size: 14px; }

html.light .desc-box { color: #d3d3d3; font-size: 14px; }